streamlit
pandas
numpy
plotly
matplotlib
seaborn
requests
feedparser         
beautifulsoup4    
selenium           
yfinance           
PyMuPDF           

thefuzz            
python-Levenshtein 
openai             
langchain          
transformers       
sentence-transformers 
torch              
tensorflow      
pinecone-client    
psycopg2-binary    
python-dotenv      
tqdm               